@using Brewgr.Web
@using Brewgr.Web.Core.Configuration
@using Brewgr.Web.Core.Model
@using ctorx.Core.Formatting
@model BrewSessionSummaryViewModel


<div class="media">
    @if (Model.ShowAddedBy)
    {
        <h5>@Model.BrewedByUsername added a brew session on @Model.DateCreated</h5>
    }
    <div class="media-left hidden-xs">
        <a href="@Url.BrewSessionDetailUrl(Model.RecipeId, Model.RecipeName)" class="media-object"><img src="@Url.RecipeThumbnailUrl(Model.RecipeImageUrlRoot, Model.RecipeSrm)" alt="@Model.RecipeName" height="80" width="80" /></a>
    </div>
    <div class="media-body">
        <h3 class="media-heading">
            <a href="@Url.BrewSessionDetailUrl(Model.RecipeId, Model.RecipeName)">Brew Session: @Model.RecipeName</a>
        </h3>
        <span>
            <a href="@Url.UserProfileUrl(Model.BrewedByUsername)"><img class="avatar" src="@UserAvatar.GetAvatar(16, Model.BrewedByUserEmail)" alt="" /></a>
            <a href="@Url.UserProfileUrl(Model.BrewedByUsername)">@(ViewBag.ActiveUser != null && Model.WasBrewedBy(ViewBag.ActiveUser.UserId) ? "you" : Model.BrewedByUsername)</a>
            <small><abbr class="timeago" title="@Model.BrewDate.ToString("g")">@Model.BrewDate</abbr></small>
        </span>

        <ul class="list-unstyled list-inline">
            @if (Model.HasWaterInfusion)
            {
                <li><span class="badge"><span class="glyphicon glyphicon-check"></span> Water Infusion</span></li>
            }
            @if (Model.HasMashBoil)
            {
                <li><span class="badge"><span class="glyphicon glyphicon-check"></span> @(Model.GetRecipeType() == RecipeType.Extract ? "Boil" : "Mash/Boil")</span></li>
            }
            @if (Model.HasFermentation)
            {
                <li><span class="badge"><span class="glyphicon glyphicon-check"></span> Fermentation</span></li>
            }
            @if (Model.HasConditioning)
            {
                <li><span class="badge"><span class="glyphicon glyphicon-check"></span> Conditioning</span></li>
            }
            @if (Model.HasTastingNotes)
            {
                <li><span class="badge"><span class="glyphicon glyphicon-check"></span> Tasting Notes</span></li>
            }
        </ul>
        @if (!string.IsNullOrWhiteSpace(Model.Summary))
        {
            <p>
                @StringCleaner.CleanForPreviewText(Model.Summary, 500)
                @(Model.Summary.Length > 500 ? "..." : "")
            </p>
        }
        <div class="menu">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-menu-down"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="@Url.RecipeDetailUrl(Model.RecipeId, Model.RecipeName, Model.RecipeBjcpStyleName)">Details</a></li>
                <li><a href="@Url.RecipeDetailUrl(Model.RecipeId, Model.RecipeName, !string.IsNullOrWhiteSpace(Model.RecipeBjcpStyleSubCategoryId) ? Model.RecipeBjcpStyleName : null)">Go To Recipe</a></li>
                @if (ViewBag.ActiveUser != null && Model.WasBrewedBy(ViewBag.ActiveUser.UserId))
                {
                    <li><a href="@Url.EditBrewSessionUrl(Model.BrewSessionId)">Edit</a></li>

                }

                @if (ViewBag.ActiveUser != null && Model.WasBrewedBy(ViewBag.ActiveUser.UserId))
                {
                    <li role="separator" class="divider"></li>
                            <li><a href="#" data-brewsessionid="@Model.BrewSessionId">Delete</a></li>
                }
            </ul>
        </div>
    </div>
</div>







@*<div class="dashboard-item">
    @if (Model.ShowAddedBy)
    {
        <div class="image">
            <a href="@Url.UserProfileUrl(Model.BrewedByUsername)"><img src="@Model.GetAvatar(50)" width="50" height="50" alt="@Model.BrewedByUsername" /></a>
        </div>
    }
    <div class="details">
        @if (Model.ShowAddedBy)
        {
            <h3 class="username"><a href="@Url.UserProfileUrl(Model.BrewedByUsername)">@Model.BrewedByUsername</a></h3>
            <text>added a brew session on @Model.DateCreated.ToShortDateString()</text> 
        }
        <div class="session">
            <div class="image">
                <a href="@Url.BrewSessionDetailUrl(Model.BrewSessionId, Model.RecipeName)"><img src="@Url.RecipeThumbnailUrl(Model.RecipeImageUrlRoot, Model.RecipeSrm)" alt="@Model.RecipeName" height="80" width="80" /></a>
            </div>
            <div class="session-details">
                <h3 class="name"><a href="@Url.BrewSessionDetailUrl(Model.BrewSessionId, Model.RecipeName)">@Model.RecipeName</a></h3> @if (!Model.ShowAddedBy){ <text>brewed on @Model.BrewDate.ToShortDateString()</text> }
                <div class="data">
                    @if (Model.HasWaterInfusion)
					{
						<span class="datapoint">
							<img src="@Url.Image("~/img/icons/accept.png")" />
							<span>Water Infusion</span>
						</span>
					}
					@if (Model.HasMashBoil)
					{
						<span class="datapoint">
							<img src="@Url.Image("~/img/icons/accept.png")" />
							<span>@(Model.GetRecipeType() == RecipeType.Extract ? "Boil" : "Mash/Boil")</span>
						</span>
					}
					@if (Model.HasFermentation)
					{
						<span class="datapoint">
							<img src="@Url.Image("~/img/icons/accept.png")" />
							<span>Fermentation</span>
						</span>
					}
					@if (Model.HasConditioning)
					{
						<span class="datapoint">
							<img src="@Url.Image("~/img/icons/accept.png")" />
							<span>Conditioning</span>
						</span>
					}
					@if (Model.HasTastingNotes)
					{
						<span class="datapoint">
							<img src="@Url.Image("~/img/icons/accept.png")" />
							<span>Tasting Notes</span>
						</span>
					}
				</div>

				<div class="actions">
					@if (ViewBag.ActiveUser != null && Model.WasBrewedBy(ViewBag.ActiveUser.UserId))
					{
						<a href="@Url.EditBrewSessionUrl(Model.BrewSessionId)" class="button button_gray button_small">Edit</a>
						<a href="#" class="button button_gray button_small delete-brewsession" data-brewsessionid="@Model.BrewSessionId">Delete</a>
					}
					<a href="@Url.RecipeDetailUrl(Model.RecipeId, Model.RecipeName, !string.IsNullOrWhiteSpace(Model.RecipeBjcpStyleSubCategoryId) ? Model.RecipeBjcpStyleName : null)" class="button button_gray button_small">Go To Recipe</a>
				</div>
                
                @* Start Comments *
                @Html.Partial("_Comments", Model.CommentWrapperViewModel)

            </div>
            <div class="clearall"></div>
        </div>

    </div>
</div>
<div class="clearall"></div>*@