@model Brewgr.Web.Core.Model.UserSummary

@if (ViewBag.ActiveUser != null && Model.UserId != ViewBag.ActiveUser.UserId)
{
    <a href="#" class="btn @(ViewBag.UserIsFollowed ? "btn-success" : "btn-default")" data-followed="@(ViewBag.UserIsFollowed ? "1" : "0")" data-followid="@Model.UserId">
        <span class="glyphicon @(ViewBag.UserIsFollowed ? "glyphicon-check" : "glyphicon-plus")"></span>
        <span>@(ViewBag.UserIsFollowed ? "Following" : "Follow" )</span>
    </a>
}
