@using Brewgr.Web
@using Brewgr.Web.Core.Model
@model Brewgr.Web.Core.Model.RecipeSummary

<div class="panel panel-default recipe-widget">
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <a class="media-object" href="@Url.RecipeDetailUrl(Model.RecipeId, Model.RecipeName, Model.BJCPStyleName)">
                    <img src="@Url.RecipeThumbnailUrl(Model.ImageUrlRoot, Model.Srm)" alt="" width="80" height="80" />
                </a>
            </div>
            <div class="media-body">
                <div data-rating="@Model.AverageRating" data-readonly="true" class="keepsize"></div>
                <h4 class="media-heading">
                    <a href="@Url.RecipeDetailUrl(Model.RecipeId, Model.RecipeName, Model.BJCPStyleName)">@Html.Ellipsis(Model.RecipeName, 30)</a>
                </h4>
                <div>@Model.GetRecipeTypeName() Recipe</div>
                <div>
                    <a href="@Url.UserProfileUrl(Model.CreatedByUserName)"><img class="avatar" src="@UserAvatar.GetAvatar(16, Model.CreatedByUserEmail)" alt=""/></a>
                    <a href="@Url.UserProfileUrl(Model.CreatedByUserName)">@(ViewBag.ActiveUser != null && Model.WasCreatedBy(ViewBag.ActiveUser.UserId) ? "you" : Model.CreatedByUserName)</a>
                    <small><abbr class="timeago" title="@Model.DateCreated.ToString("g")">@Model.DateCreated</abbr></small>
                </div>
            </div>
        </div>
        <div class="badge">
            <span class="srm @Html.SrmClass(Model.Srm)">&nbsp;</span>
            <span class="lovi">@Math.Round(Model.Srm)&deg;</span>
            <span class="ibu">@Model.Ibu.ToString("F1") IBU</span>
            <span class="abv">@Model.Abv.ToString("F1")% ABV</span>
            <span class="calories">@Model.Calories cal.</span>
        </div>
    </div>
</div>
