@using Brewgr.Web
@using Brewgr.Web.Core.Model
@model Brewgr.Web.Core.Model.RecipeSummary

<div class="panel panel-default recipe-widget">
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <a class="media-object" href="@Url.RecipeDetailUrl(Model.RecipeId, Model.RecipeName, Model.BJCPStyleName)">
                    <img src="@Url.RecipeThumbnailUrl(Model.ImageUrlRoot, Model.Srm)" alt="" border="0" width="65" height="65"/>
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="@Url.RecipeDetailUrl(Model.RecipeId, Model.RecipeName, Model.BJCPStyleName)">@Html.Ellipsis(Model.RecipeName, 30)</a>
                </h4>
                <div>@Model.GetRecipeTypeName() Recipe</div>
                <div>
                    <a href="@Url.UserProfileUrl(Model.CreatedByUserName)"><img class="avatar" src="@UserAvatar.GetAvatar(16, Model.CreatedByUserEmail)" alt=""/></a>
                    <a href="@Url.UserProfileUrl(Model.CreatedByUserName)">@(ViewBag.ActiveUser != null && Model.WasCreatedBy(ViewBag.ActiveUser.UserId) ? "you" : Model.CreatedByUserName)</a>
                    <small><abbr class="timeago" title="@Model.DateCreated.ToString("g")">@Model.DateCreated</abbr></small>
                </div>
            </div>
        </div>
        <div class="badge">
            <span class="srm @Html.SrmClass(Model.Srm)">&nbsp;</span>
            <span class="lovi">@Math.Round(Model.Srm)&deg;</span>
            <span class="ibu">@Model.Ibu.ToString("F1") IBU</span>
            <span class="abv">@Model.Abv.ToString("F1")% ABV</span>
            <span class="calories">@Model.Calories cal.</span>
        </div>
    </div>
</div>


@*<div class="recipe-widget">
    <div class="image">
        <a href="@Url.RecipeDetailUrl(Model.RecipeId, Model.RecipeName, Model.BJCPStyleName)">
            <img src="@Url.RecipeThumbnailUrl(Model.ImageUrlRoot, Model.Srm)" alt="" border="0" width="45" height="45" />
        </a> 
    </div>
    <div class="info">
        <div class="name">
            <a href="@Url.RecipeDetailUrl(Model.RecipeId, Model.RecipeName, Model.BJCPStyleName)">@Html.Ellipsis(Model.RecipeName, 30)</a>
        </div>
        <div class="type">@Model.GetRecipeTypeName() Recipe</div>
        <div class="author">
             by <a href="@Url.UserProfileUrl(Model.CreatedByUserName)">@Model.CreatedByUserName</a>
        </div>
    </div>
    <div class="clearall"> </div>
    <div class="data">
        <div class="srm @Html.SrmClass(Model.Srm)">&nbsp;</div>
        <div class="lovi">@Math.Round(Model.Srm)&deg;</div>
        <div class="ibu">@Model.Ibu.ToString("F1") IBU</div>
        <div class="abv">@Model.Abv.ToString("F1")% ABV</div>
        <div class="calories">@Model.Calories cal.</div>
    </div>
</div>*@