@using Brewgr.Web
@using Brewgr.Web.Core.Model
@model StyleDetailViewModel
@{
    ViewBag.Title = Model.BjcpStyle.SubCategoryName + " Recipes";

    // Description
    switch (Model.BjcpStyle.SubCategoryId.ToLower())
    {
        case "14c":
            ViewBag.Description = "Imperial IPA or Double IPA beers are super hoppy and widely popular.  Pick from the highest rated Imperial IPA Recipes for you to brew and enjoy.";
            break;
        default:
            ViewBag.Description = "Browse user submitted recipes that meet the BJCP guidlines for the " + Model.BjcpStyle.SubCategoryName + " style.  Find a recipe that sounds good and make a homebrew.";
            break;
    }
}

<div id="vw-styledetail" class="container view">
    @if (Model.Pager.IsFirstPage())
    {
        @Html.Partial("_StyleDetailHeader", Model)    
    }
    <div class="row">
        <div class="col-md-12">
            @if (Model.Recipes.Any())
            {
                <h2 class="page-header">@Model.BjcpStyle.SubCategoryName Recipes - Displaying @Model.Pager.RecordStart to @Model.Pager.RecordEnd of @Model.Pager.RecordCount</h2>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-5 col-md-push-8 col-sm-push-7">

            <ul class="list-group">
                <li class="list-group-item disabled">
                    Style Summary
                </li>
                <li class="list-group-item">
                    Category <span class="badge primary">@Model.BjcpStyle.CategoryName</span>
                </li>
                <li class="list-group-item">
                    Style <span class="badge">@Model.BjcpStyle.SubCategoryName</span>
                </li>
                @if(Model.BjcpStyle.Fg_Low != null && Model.BjcpStyle.Fg_High != null)
                {
                    <li class="list-group-item">
                        Original Gravity
                        <span class="badge">
                        @string.Format("{0:##.###}", Model.BjcpStyle.Og_Low) to @string.Format("{0:##.###}", Model.BjcpStyle.Og_High)
                    </span>
                    </li>
                }
                @if(Model.BjcpStyle.Fg_Low != null && Model.BjcpStyle.Fg_High != null)
                {
                    <li class="list-group-item">
                        Final Gravity
                        <span class="badge">
                        @string.Format("{0:##.###}", Model.BjcpStyle.Fg_Low) to @string.Format("{0:##.###}", Model.BjcpStyle.Fg_High)
                    </span>
                    </li>
                }
                @if(Model.BjcpStyle.Ibu_Low != null && Model.BjcpStyle.Ibu_High != null)
                {
                    <li class="list-group-item">
                        IBU
                        <span class="badge">
                        @Model.BjcpStyle.Ibu_Low to @Model.BjcpStyle.Ibu_High
                    </span>
                    </li>
                }
                @if(Model.BjcpStyle.Srm_Low != null && Model.BjcpStyle.Srm_High != null)
                {
                    <li class="list-group-item">
                        SRM
                        <span class="badge">
                        @Model.BjcpStyle.Srm_Low to @Model.BjcpStyle.Srm_High
                    </span>
                    </li>
                }
                @if(Model.BjcpStyle.Abv_Low != null && Model.BjcpStyle.Abv_High != null)
                {
                    <li class="list-group-item">
                        ABV
                        <span class="badge">
                        @string.Format("{0:##.##}", Model.BjcpStyle.Abv_Low)% to @string.Format("{0:##.##}", Model.BjcpStyle.Abv_High)%
                    </span>
                    </li>
                }
            </ul>

            @Html.Partial("_ResponsiveAd")

            @* Top rated *@
            @if (Model.TopRatedRecipes.Count > 0)
            {
                <div id="toprated-recipes">
                    <h3 class="green margintop20">Highest Rated @Model.BjcpStyle.SubCategoryName Recipes</h3>
                    @foreach (RecipeSummary recipeSummary in Model.TopRatedRecipes)
                    {
                        @Html.Partial("_RecipeWidget", recipeSummary)
                    }
                </div>
            }

        </div>
        <div class="col-md-8 col-sm-7 col-md-pull-4 col-sm-pull-5">
            @if (Model.Recipes.Any())
            {
                @Html.Partial("_RecipeList", Model.Recipes)
                @Html.Partial("_ResponsiveAd")
                @Html.Partial("_PageNavigation", Model)
            }
            else
            {
                <h2 class="page-header">No Recipes to Display</h2>
                <p>
                    Nobody has created a recipe for this style yet. You can be the first to create a @Model.BjcpStyle.SubCategoryName Recipe.
                </p>
                <a href="@Url.Action("NewRecipe", "Recipe", null, Url.Https())" class="btn btn-success btn-lg">Create a New Recipe</a>
            }
        </div>
    </div>
</div>
