@using Brewgr.Web
@model UnCategorizedRecipesViewModel

@{
    ViewBag.Title = "Other Homebrew Recipes";
    ViewBag.Description = "Various user submitted homebrew recipes that fall outside of the BJCP defined style guidelines";
}




<div id="vw-uncategorized" class="container view">

    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">Displaying @Model.Pager.RecordStart to @Model.Pager.RecordEnd of @Model.Pager.RecordCount Recipe(s)</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-5 col-md-push-8 col-sm-push-7">
            <h3>What Styles Are These Recipes?</h3>
            <p>
                It's not uncommon for a homebrewer to craft a homebrew recipe that does
                not satisfy the specific guidelines of the BJCP style guidelines.
                For example, a homebrewer might make an IPA
                recipe and decide they want it to be more bitter or darker than the defined style.
            </p>
            <p>
                There are plenty of great homebrew recipes that
                fall into this category and they should not be overlooked.
            </p>

            @Html.Partial("_ResponsiveAd")
            @Html.Partial("_ResponsiveAd")
            @Html.Partial("_ResponsiveAd")
        </div>
        <div class="col-md-8 col-sm-7 col-md-pull-4 col-sm-pull-5">
            @Html.Partial("_RecipeList", Model.Recipes)
            @Html.Partial("_ResponsiveAd")
            @Html.Partial("_PageNavigation", Model)
        </div>
    </div>
</div>
